## Name: Neeraj Tanwar Roll Number: 19021271010

In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
messages=pd.read_csv("sms.tsv",sep="\t",names=["label", "message"])
messages.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
x = cv.fit_transform(messages['message']).toarray()
y=pd.get_dummies(messages['label'])
y=y.iloc[:,1].values

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [5]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3)
model = MultinomialNB().fit(xtrain, ytrain)
model.predict(xtest)

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [6]:
model.score(xtest,ytest)

0.9814593301435407